* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-container {
  background-color: #1f2937;
  display: flex;
  padding: 1em 16em;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container h1 {
  color: #f9faf8;
  margin-left: 24px;
}

.logo-container img {
  width: 120px;
  height: 120px;
}

.header-container nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.header-container ul {
  display: flex;
  list-style: none;
}

.header-container li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px;
}

.first-section {
  background-color: #1f2937;
  padding: 5em 16em;
  display: flex;
}

.text-wrapper-first {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  gap: 1em;
}

.text-wrapper-first h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.text-wrapper-first p {
  color: #e5e7eb;
  font-size: 18px;
}

.image-wrapper-first {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 60%;
}

.image-wrapper-first img {
  width: 600px;
  height: 304.31px;
  object-fit: cover;
}

.sign-up {
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
  padding: 0.5em 2em;
  font-weight: bold;
}

.second-section {
  padding: 5em 16em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.second-section h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.container-images-info {
  display: flex;
  justify-content: space-evenly;
}

.container-image-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 200px;
}

.container-image-text img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882f6;
  border-radius: 10px;
}

.container-image-text figcaption {
  font-size: 18px;
  color: #1f2937;
  text-align: center;
}

.third-section {
  background-color: #e5e7eb;
  padding: 5em 20em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.third-section blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  text-align: center;
  font-weight: lighter;
}

.third-section p {
  font-size: 18px;
  color: #1f2937;
  text-align: right;
  font-weight: bold;
}
